---
import Container from "../components/Container.astro"
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to My site">
	<main class="space-y-20">
		<Container>
            <div class="relative flex flex-col-reverse items-center md:flex-row" id="hero">
                <div class="row items-center py-5">
                    <div class="text-center space-y-10">
                        <h2 class="text-4xl font-medium leading-none">Наши контакты</h2>
                    </div>
                </div>
            </div>
            
            <div class="flex-row items-center">
                <ul class="py-5">
                    <li>Почта: <a href="mailto:support@enchantstory.ru">support@enchantstory.ru</a></li>
                    <li>Телефон: +7 (996) 605-96-86</li>
                    <li>На связи в будни с 9:00 до 18:00 мск</li>
                </ul>
                <div>
                    Общество с Ограниченной Отвественностью "АОМ"
                        <ul>
                            <li>ОГРН: 1201600051355</li>
                            <li>ИНН: 1615015719</li>
                            <li>Адрес: 420500, Республика Татарстан, Верхнеуслонский район, город Иннополис, Университетская ул., д. 7, помещ. 318</li>
                        </ul>
                </div>
            </div>
        </Container>
	</main>
</Layout>