---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Services from "../components/Services.astro"
import Team from '../components/Team.astro';
import Testimonial from '../components/Testimonial.astro';
import Contact from '../components/Contact.astro';
import Case from '../components/Case.astro';
import Flow from '../components/Flow.astro';
import How from '../components/How.astro';
import Features from '../components/Features.astro';
import Characters from '../components/Characters.astro'
import Cases from '../components/Cases.astro';
---

<Layout title="ЧарующиеСказки">
	<main>
		<Hero/>
		<Flow />
		<How />
		<Features />
		<Characters />
		<Cases />
		<!-- <Services/>
		<Case/>
		<Team/>
		<Testimonial/> -->
		<Contact/>
	</main>
</Layout>