---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
---

<Layout title="Пользовательское Соглашение">
    <Container>
        <h1 class="text-4xl font-medium">Пользовательское Соглашение</h1>
        <div class="page-content legal-content">
            <p>Настоящее Пользовательское Соглашение (Далее Соглашение) регулирует отношения между ООО «АОМ» (далее Администрация) с&nbsp;одной стороны и&nbsp;пользователем сайта с&nbsp;другой.<br>
            Сайт ЭнчантСторис не&nbsp;является средством массовой информации.<br>
            <br>
            Используя сайт, Вы&nbsp;соглашаетесь с&nbsp;условиями данного соглашения.<br>
            <strong>Если Вы&nbsp;не&nbsp;согласны с&nbsp;условиями данного соглашения, не&nbsp;используйте сайт ЭнчантСторис!</strong></p>
            <h2>Предмет соглашения</h2>
            <p><strong>Администрация предоставляет пользователю право на&nbsp;размещение на&nbsp;сайте следующей информации:</strong><br>
            —&nbsp;Текстовой информации<br>
            —&nbsp;Аудиоматериалов<br>
            —&nbsp;Видеоматериалов<br>
            —&nbsp;Фотоматериалов<br>
            —&nbsp;Ссылок на&nbsp;материалы, размещенные на&nbsp;других сайтах</p>
            <h2>Права и&nbsp;обязанности сторон</h2>
            <p><strong>Пользователь имеет право:</strong><br>
            —&nbsp;осуществлять поиск информации на&nbsp;сайте<br>
            —&nbsp;получать информацию на&nbsp;сайте<br>
            —&nbsp;создавать информацию для сайта<br>
            —&nbsp;комментировать контент, выложенный на&nbsp;сайте<br>
            —&nbsp;копировать информацию на&nbsp;другие сайты с&nbsp;указанием источника<br>
            —&nbsp;копировать информацию на&nbsp;другие сайты с&nbsp;разрешения Администрации сайта<br>
            —&nbsp;копировать информацию на&nbsp;другие сайты с&nbsp;разрешения правообладателя<br>
            —&nbsp;требовать от&nbsp;администрации скрытия любой информации о&nbsp;пользователе<br>
            —&nbsp;требовать от&nbsp;администрации скрытия любой информации переданной пользователем сайту<br>
            —&nbsp;использовать информацию сайта в&nbsp;личных некоммерческих целях<br>
            —&nbsp;использовать информацию сайта в&nbsp;коммерческих целях с&nbsp;разрешения Администрации<br>
            —&nbsp;использовать информацию сайта в&nbsp;коммерческих целях с&nbsp;разрешения правообладателей<br>
            <br>
            <strong>Администрация имеет право:</strong><br>
            —&nbsp;по&nbsp;своему усмотрению и&nbsp;необходимости создавать, изменять, отменять правила<br>
            —&nbsp;ограничивать доступ к&nbsp;любой информации на&nbsp;сайте<br>
            —&nbsp;создавать, изменять, удалять информацию<br>
            —&nbsp;удалять учетные записи<br>
            —&nbsp;отказывать в&nbsp;регистрации без объяснения причин<br>
            <br>
            <strong>Пользователь обязуется:</strong><br>
            —&nbsp;обеспечить достоверность предоставляемой информации<br>
            —&nbsp;обеспечивать сохранность личных данных от&nbsp;доступа третьих лиц<br>
            —&nbsp;обновлять Персональные данные, предоставленные при регистрации, в&nbsp;случае их&nbsp;изменения<br>
            —&nbsp;не&nbsp;распространять информацию, которая направлена на&nbsp;пропаганду войны, разжигание национальной, расовой или религиозной ненависти и&nbsp;вражды, а&nbsp;также иной информации, за&nbsp;распространение которой предусмотрена уголовная или административная ответственность<br>
            —&nbsp;не&nbsp;нарушать работоспособность сайта<br>
            —&nbsp;не&nbsp;создавать несколько учётных записей на&nbsp;Сайте, если фактически они принадлежат одному и&nbsp;тому&nbsp;же лицу<br>
            —&nbsp;не&nbsp;совершать действия, направленные на&nbsp;введение других Пользователей в&nbsp;заблуждение<br>
            —&nbsp;не&nbsp;размещать материалы рекламного, эротического, порнографического или оскорбительного характера, а&nbsp;также иную информацию, размещение которой запрещено или противоречит нормам действующего законодательства РФ<br>
            —&nbsp;не&nbsp;использовать скрипты (программы) для автоматизированного сбора информации и/или взаимодействия с&nbsp;Сайтом и&nbsp;его Сервисами<br>
            <br>
            <strong>Администрация обязуется:</strong><br>
            —&nbsp;поддерживать работоспособность сайта за&nbsp;исключением случаев, когда это невозможно по&nbsp;независящим от&nbsp;Администрации причинам.<br>
            —&nbsp;предоставить всю доступную информацию о&nbsp;Пользователе уполномоченным на&nbsp;то&nbsp;органам государственной власти в&nbsp;случаях, установленных законом</p>
            <h2>Ответственность сторон</h2>
            <p>—&nbsp;пользователь лично несет полную ответственность за&nbsp;распространяемую им&nbsp;информацию<br>
            —&nbsp;администрация не&nbsp;несет никакой ответственности за&nbsp;достоверность информации, скопированной из&nbsp;других источников<br>
            —&nbsp;администрация не&nbsp;несёт ответственность за&nbsp;несовпадение ожидаемых Пользователем и&nbsp;реально полученных услуг<br>
            —&nbsp;администрация не&nbsp;несет никакой ответственности за&nbsp;услуги, предоставляемые третьими лицами<br>
            —&nbsp;в&nbsp;случае возникновения форс-мажорной ситуации (боевые действия, чрезвычайное положение, стихийное бедствие и&nbsp;т.&nbsp;д.) Администрация не&nbsp;гарантирует сохранность информации, размещённой Пользователем, а&nbsp;также бесперебойную работу информационного ресурса</p>
            <h2>Условия действия Соглашения</h2>
            <p>Данное Соглашение вступает в&nbsp;силу при любом использовании данного сайта.<br>
            Соглашение перестает действовать при появлении его новой версии.<br>
            Администрация оставляет за&nbsp;собой право в&nbsp;одностороннем порядке изменять данное соглашение по&nbsp;своему усмотрению.<br>
            Администрация не&nbsp;оповещает пользователей об&nbsp;изменении в&nbsp;Соглашении.</p></div>
    </Container>
</Layout>