---
import Container from "./Container.astro";
import SectionHeading from "./SectionHeading.astro";
import CTA from "./CTA.astro";

import Story from '../components/Story.vue';

import casesData from "./Data/cases.json";
---

<section id="cases">
  <Container>
    <div class="relative flex flex-col items-center">
      <SectionHeading> Созданные сказки </SectionHeading>
      <!-- <div class="flex items-center py-5 md:w-6/12 md:py-10">
        <p class="text-xl font-normal leading-7 text-center md:text-left">Step-by-Step Guide to Achieving Your Business Goals</p>
    </div> -->
    </div>

    <div class="flex-row items-center py-6 md:py-16">
      <div
        class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 gap-12 font-light"
      >
        <!-- card start-->
        {
          casesData.map(({ id, name, description, image }) => (
            <div class="flex flex-col">
              <div class="p-5 flex flex-col border coal rounded-[32px] md:aspect-[3/4]">
                <div class="w-full h-auto justify-start items-center flex">
                  <img class="w-full rounded-3xl aspect-[4/3] object-cover" src={image} />
                </div>
                <div class="mt-6 text-wrap">
                  <p class="text-lg font-normal mb-1">{name}</p>
                  <p>{description}</p>
                </div>
                <button
                  data-modal-target={"modal-case-" + id}
                  data-modal-toggle={"modal-case-" + id}
                  class="flex items-center mt-6 md:mt-auto gap-3 font-light text-xl text-ochre hover:text-darkochre hover:fill-darkochre cursor-pointer"
                >
                  Открыть{" "}
                  <svg
                    width="77"
                    height="16"
                    viewBox="0 0 77 16"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path d="M76.2024 8.4618C76.5955 8.07389 76.5997 7.44074 76.2118 7.04762L69.8904 0.641378C69.5025 0.248259 68.8693 0.244038 68.4762 0.63195C68.0831 1.01986 68.0789 1.65301 68.4668 2.04613L74.0858 7.74057L68.3914 13.3596C67.9983 13.7475 67.994 14.3807 68.3819 14.7738C68.7699 15.1669 69.403 15.1711 69.7961 14.7832L76.2024 8.4618ZM0.493333 8.24998L75.4933 8.74998L75.5067 6.75002L0.506667 6.25002L0.493333 8.24998Z" />
                  </svg>
                </button>
              </div>
            </div>
          ))
        }
        <!-- card end-->
      </div>
    </div>
  </Container>

  <!-- Modals -->
  {
    casesData.map(({ id, name, description, image, content }) => (
      <div
        id={"modal-case-" + id}
        tabindex="-1"
        aria-hidden="true"
        class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full bg-gray/50"
      >
        <div class="relative p-4 w-full max-w-2xl max-h-full">
          <!-- Modal content -->
          <div class="relative bg-white shadow border border-coal rounded-xl">
            <!-- Modal header -->
            <div
              class="flex items-center justify-between p-4 md:p-5 border-b border-coal"
            >
              <h3 class="text-xl font-semibold text-gray-900">{ name }</h3>
              <button
                type="button"
                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                data-modal-hide={"modal-case-" + id}
              >
                <svg
                  class="w-3 h-3"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 14 14"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"></path>
                </svg>
                <span class="sr-only">Закрыть</span>
              </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5 space-y-4">
              <Story client:idle content={content} />
              {
                // content?.map(text => (
                //   <p class="text-base leading-relaxed text-gray-500">
                //     { text }
                //   </p>
                // ))
              }
            </div>
            <!-- Modal footer -->
            <div class="flex items-center p-4 md:p-5 border-t border-coal">
              <button
                data-modal-hide={"modal-case-" + id}
                type="button"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
              >
                <CTA>Создать свою</CTA></button
              >
            </div>
          </div>
        </div>
      </div>
  ))
}
</section>