---
import Container from "./Container.astro"
import SectionHeading from "./SectionHeading.astro"
---
<Container>
<div class="relative flex flex-col items-center md:flex-row" id="contact">
    <SectionHeading>
        Регистрация
    </SectionHeading>
    <!-- <div class="flex items-center py-5 md:w-8/12 md:py-10">
        <p class="text-xl font-normal leading-7 text-center md:text-left">Connect with Us: Let's Discuss Your Digital Marketing Needs</p>
    </div> -->
</div>

<div class="relative flex flex-col md:flex-row my-6 border border-coal ">
    <div class="row items-center py-12 px-4 md:px-20 md:w-8/12 md:py-10">
        <form action="#" class="space-y-8 md:w-full">
            <div>
                <label for="tel" class="block mb-2 text-base text-coal font-light">Name</label>
                <input type="tel" id="tel" class="shadow-sm bg-beige border text-coal font-light text-base focus:ring-black focus:border-black block w-full p-2.5" placeholder="Телефон" required>
            </div>
            <div>
                <label for="email" class="block mb-2 text-base text-coal font-light">Email</label>
                <input type="email" id="email" class="block p-3 w-full text-base text-coal font-light bg-beige border shadow-sm focus:ring-black focus:border-black" placeholder="Email" required>
            </div>
            <!-- <div class="sm:col-span-2">
                <label for="message" class="block mb-2 text-base text-coal font-light dark:text-gray-400">Message</label>
                <textarea id="message" rows="6" class="block p-2.5 w-full text-base text-coal font-light bg-beige shadow-sm border focus:ring-black focus:border-black" placeholder="Message"></textarea>
            </div> -->
            <button type="submit" class="w-full py-5 border border-ochre justify-center gap-2.5 inline-flex">
                <div class="text-center text-ochre text-xl font-light leading-7">Отправить</div>
            </button>
        </form>
    </div>
    <div class="flex-col flex justify-start py-12 px-4 md:px-20 gap-8 font-light text-lg ">
        <p>Запускемся в мае</p>
        <p>Оставьте свои контактные данные, чтобы не пропустить и стать Первопроходцем!</p>
        <p class="text-ochre">Первым 20 пользователем дарим скидку.</p>
    </div>
</div>

</Container>