---
const { type } = Astro.props
---

<a class:list={['button', {'button-filled': type === 'filled' }]} rel="noopener noreferrer" href="#contact">
    <h3 class="text-center text-xl font-normal leading-7">
        <slot /> 
    </h3>
    <svg width="77" height="16" viewBox="0 0 77 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M76.2024 8.4618C76.5955 8.07389 76.5997 7.44074 76.2118 7.04762L69.8904 0.641378C69.5025 0.248259 68.8693 0.244038 68.4762 0.63195C68.0831 1.01986 68.0789 1.65301 68.4668 2.04613L74.0858 7.74057L68.3914 13.3596C67.9983 13.7475 67.994 14.3807 68.3819 14.7738C68.7699 15.1669 69.403 15.1711 69.7961 14.7832L76.2024 8.4618ZM0.493333 8.24998L75.4933 8.74998L75.5067 6.75002L0.506667 6.25002L0.493333 8.24998Z"/>
    </svg>
</a>