---
import Container from "./Container.astro";
import CTA from "./CTA.astro";
---
<script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 

<section id="hero">
  <Container>
    <div
      class="relative flex flex-col-reverse items-center justify-center md:flex-row"
      id="hero"
    >
      <div class="left-[55%] -bottom-[30%] absolute md:bottom-0 md:left-0">
        <dotlottie-player src="https://lottie.host/7aa9cda6-50cb-486e-9f35-84439dee3d97/DFT9bVi6wJ.json" background="transparent" speed="0.5" style="width: 300px; height: 300px;" autoplay></dotlottie-player>
      </div>
      <div class="row items-center py-5 md:w-6/12 md:py-36">
        <div class="text-center space-y-32">
          <h1 class="text-5xl font-medium leading-none md:text-6xl">
            Создай сказку своему ребенку за 1 минуту
          </h1>
          <CTA>Создать</CTA>
        </div>
      </div>
      <div class=" hidden md:block absolute -bottom-[50%] -right-[20%] md:-bottom-[15%] md:right-0">
        <dotlottie-player src="https://lottie.host/6aaed472-b6de-49c8-be25-58ca2ac6c57d/cmsuEMuG74.json" background="transparent" speed="0.65" style="width: 300px; height: 300px;" autoplay></dotlottie-player>
      </div>
    </div>
  </Container>
</section>
