---
import Container from "./Container.astro";
import SectionHeading from "./SectionHeading.astro";
import CTA from "./CTA.astro";
---

<Container>
  <div class="relative flex flex-col items-center">
    <SectionHeading> Как это работает? </SectionHeading>
    <div class="flex items-center py-3 md:w-6/12 md:py-10">
        <p class="text-lg md:text-2xl font-normal leading-5 text-center">Немножечко текста о том, что мы используем специально обученный ИИ.</p>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-3 md:grid-rows-1 gap-4 md:gap-12 py-12 md:pb-24 text-base md:text-xl ">
      <div class="md:flex flex-col md:h-full justify-around space-y-6">
        <p>Обучен на сказках и мультиках</p>
        <p>Запоминает Ваши интересы и ребенка</p>
      </div>
      <div class="relative row-span-2 flex flex-col justify-center items-center">
        <img src="/robot.png" alt="Robot" />
      </div>
      <div class="md:flex flex-col md:h-full justify-around space-y-6">
        <p>Умеет рисовать </p>
        <p>Знает что такое хорошо и что такое плохо</p>
      </div>
    </div>
    <div class="">
        <CTA>Попробовать</CTA>
    </div>
  </div>
</Container>
