---
import { getImage } from 'astro:assets'
import faviconSrc from '../assets/images/favicon.png'
import faviconSvgSrc from '../assets/images/favicon.svg'
import "../styles/global.css";
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

const appleTouchIcon = await getImage({
  src: faviconSrc,
  width: 180,
  height: 180,
  format: 'png'
})
const faviconSvg = await getImage({ src: faviconSvgSrc, format: 'svg' })
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" sizes="32x32" />
    <link rel="icon" href={faviconSvg.src} type="image/svg+xml" />
    <link rel="apple-touch-icon" href={appleTouchIcon.src} />
    <link rel="manifest" href="/manifest.json" />
    <meta name="generator" content={Astro.generator} />
    <title>Чарующие Сказки | Создай сказку за 1 минуту</title>
    <meta
      name="description"
      content="Создай сказку за 1 минуту. Онлайн сервис для вас и вашего ребенка. Бесконечные истории с невороятными иллюстрациями."
    />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://enchantstory.ru/fairy-forest.png"/>
    <meta property="og:description" content="Создай сказку за 1 минуту. Онлайн сервис для вас и вашего ребенка. Бесконечные истории с невороятными иллюстрациями."/>
    <link rel="preload" href="/assets/lenaCustom.ttf" as="font" type="font/ttf" >
    <link rel="preload" href="/hero/forest-animals.png" as="image">
    <link rel="preload" href="/hero/forest-fairy-read-wo-bg.png" as="image">
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
      (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();
      for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
      k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

      ym(97181978, "init", {
          clickmap:true,
          trackLinks:true,
          accurateTrackBounce:true,
          webvisor:true
      });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/97181978" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  <body class="bg-beige space-y-20">
    <Navbar />
    <slot />
    <Footer/>
    <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
  </body>
</html>